<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Wallet Guru</title>
  <style>
      body {
          font-family: Arial, sans-serif;
          background-color: #f4f4f4;
          margin: 0;
          padding: 0;
      }
      .email-container {
          margin: 0 auto;
          background-color: #ffffff;
          padding: 20px;
      }
      .header {
          display: flex;
          justify-content: center; /* Center content horizontally */
          align-items: center; /* Center content vertically */
          padding-bottom: 20px;
      }
      .header img {
        width: 50px;
        height: 50px;
        margin-right: 10px;
      }
      .content {
          padding: 20px;
          text-align: left;
      }
      .content h1 {
          color: #000000;
      }
      .content p {
          color: #333333;
          font-size: 16px;
          line-height: 1.5;
      }
      .activation-code {
          font-weight: bold;
          color: #000000;
      }
      .footer {
          text-align: left;
          color: #999999;
          font-size: 12px;
          padding-top: 20px;
          padding-left: 20px;
      }
  </style>
</head>
<body>
  <% const { username, value, url } = locals; %>
  <div class="email-container">
    <div class="header">
      <img src="cid:logo" alt="Wallet Guru Logo">
      <h2>Wallet guru</h2>
    </div>
    <div class="content">
      <h1>Welcome <%= username %>, </h1>
      <p>We're excited to have you join us.</p>
      <p>To activate your account, please follow these steps:</p>
      <ul>
        <li>Click this link: <a href="<%= url %>"><%= url %></a></li>
        <li>Enter your temporary password: <span class="activation-code"><%= value %></span></li>
        <li>Create a new, strong password: You'll be prompted to create a new password. Please choose a strong password that's unique to your Wallet Guru account.</li>
      </ul>
    </div>
    <div class="footer">
      <p>If you need further assistance or have any additional questions, or if you do not recognize this action, please do not hesitate to contact our support team.</p>
      <p>Yours sincerely, <br> Wallet Guru Support Team</p>
    </div>
  </div>
</body>
</html>